html{
	background: #FFFFFF;
}

canvas{
	cursor: pointer;
}

div#main-menu{
	/*width: 50%;*/
	/*height: 50%;*/
	position: fixed;
	z-index: 100;
	float: right;
	right: 0;
	bottom: 0;
	display: none;
}


div#menu{
	width: 100%;
	height: 100%;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;	
	z-index: 100;
	background: rgba(0,0,0,0.3);
	margin: 0;
	padding: 0;
	display: none;
}

div#menu-content{
	width: 50%;
	height: 90%;
	background: rgba(0,0,0,0.3);
	margin: 0 auto;
}

@font-face{
	font-family: 'Hiragino Kaku Gothic ProN';
	src: url("font/hiragino_pro_w6.otf") format('truetype');
}

